<form #registerForm="ngForm" (ngSubmit)="register();" autocomplete="off">
    <h1 class="text-primary text-center">Sign up</h1>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="Username">
        <input type="password" class="form-control mt-3" name="password" [(ngModel)]="model.password" placeholder="Password">
        <div class="form-group text-center">
            <button class="btn btn-success mt-3 mr-3" type="submit">Register</button>
            <button class="btn btn-default mt-3 ml-3" type="button" (click)="cancel()">Cancel</button>
        </div>
    </div>
</form>
